<?xml version="1.0"?>
<launch>
  <!-- Аргументы -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- Запуск move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <!-- Подгрузим параметры из файлов конфигурации -->
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find study_pkg)/mb_cfg/costmap_common_params_waffle.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find study_pkg)/mb_cfg/costmap_common_params_waffle.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find study_pkg)/mb_cfg/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find study_pkg)/mb_cfg/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find study_pkg)/mb_cfg/move_base_params.yaml" command="load" />
      <rosparam file="$(find study_pkg)/mb_cfg/dwa_local_planner_params_waffle.yaml" command="load" />
      <!-- Передаем названия топиков для работы -->
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>