<?xml version="1.0"?>
<launch>
  <!-- Start turtlebot Gazebo simulation -->
  <!-- <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/> -->
  <!-- Replaced with our new file! -->
  <include file="$(find study_pkg)/launch/turtlebot_gazebo.launch">
    <arg name="gui" value="false"/>
  </include>

  <!-- Start Rviz with required views -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find study_pkg)/rviz/turtlebot_amcl.rviz" />

  <!-- Start map server to provide our saved map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find study_pkg)/maps/map.yaml" />

  <!-- Start localization in map -->
  <include file="$(find study_pkg)/launch/amcl.launch" />
</launch>
