<?xml version="1.0"?>
<launch>
	<!-- Запускаем симулятор с роботом -->
    <include file="$(find study_pkg)/launch/tb3_gazebo_start.launch">
    </include>

	<!-- Подгрузка сохраненной карты, чтобы робот уже имел представление о пространстве -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find study_pkg)/maps/map.yaml" />

	<!-- Запуск AMCL для навигации на карте -->
	<include file="$(find study_pkg)/launch/amcl.launch" />

	<!-- Телеуправление -->
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
</launch>