<?xml version="1.0"?>
<launch>
    <include file="$(find study_pkg)/launch/tb3_gazebo_start.launch">
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find study_pkg)/rviz/tb3_scan_tf.rviz"/>

    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard" output="screen">
    </node>
</launch>
