<?xml version="1.0"?>
<launch>
  <!-- Аргумент, которым мы можем задать начальное положение робота в мире -->
  <!-- Параметры (-x, -y и т.д.) заданы как опции для узла spawn_model -->
  <arg name="initial_pose" default="-x 0 -y 0 -z 0.3 -R 0 -P 0 -Y 0" />

  <!-- Аргумент, который содержит имя файла -->
  <arg name="urdf_file" default="$(find my_super_car_description)/urdf/model.urdf.xacro" />
  
  <!-- Настраиваем параметр `robot_description`, который будет нашим описанием робота -->
  <!-- Прогоняем через узел xacro, который произведет обработку файла, остальной функционал увидим позже -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf_file)'" />
  
  <!-- Создаем робота узлом spawn_model -->
  <node name="spawn_base_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg initial_pose) -unpause -urdf -param robot_description -model my_robot" />

  <!-- Опубликуем TF статические преобразования на основе описания `robot_description` -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <rosparam command="load"
            file="$(find my_super_car_description)/config/my_super_car.yaml" />


  <node name="ackermann_controller_spawner" pkg="controller_manager" type="spawner"
    args="ackermann_joint_state_controller
          ackermann_drive_controller"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/ackermann_drive_controller/cmd_vel"/>
  </node>


  <arg name="gz_gui" default="false" />
  <arg name="rviz_gui" default="false" />
  <!-- Запускаем Gazebo, мир пустой - стандартный -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gz_gui)" />
  </include>

  <!-- Просто запустим rviz, после настройки добавим запуск конфигурации -->
  <node if="$(arg rviz_gui)" name="rviz" pkg="rviz" type="rviz" args="-d $(find my_super_car_description)/rviz/model_view.rviz" />

  <!-- Опубликуем TF динамические преобразования на основе описания `robot_description` -->
<!--   
  <node if="$(arg rviz_gui)" pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
    <param name="use_gui" value="true" />
  </node>
 -->
</launch>
